<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIN</key>
	<string>D03105501</string>
	<key>Address</key>
	<string>4A WOODFIELD AVE WARRADALE SA 5046</string>
	<key>Name</key>
	<string>JULIET CONSTANCE TAINTON</string>
	<key>DOB</key>
	<string>06/02/2006</string>
	<key>LicenceNumber</key>
	<string>HJ9989</string>
	<key>PED</key>
	<string>11 February 2027</string>
	<key>LED</key>
	<string>11 February 2024</string>
	<key>name padding leading</key>
	<string>geometry.size.height * -0.14</string>
	<key>address padding leading</key>
	<string>geometry.size.height * -0.10</string>
	<key>expiration date padding leading</key>
	<string>geometry.size.width * -0.36</string>
</dict>
</plist>
