<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIN</key>
	<string>D04127823</string>
	<key>Address</key>
	<string>31 MASTERS AVENUE OAKLAND PARK SA 5046</string>
	<key>Name</key>
	<string>JASON MITCHELL</string>
	<key>DOB</key>
	<string>23/08/2006</string>
	<key>LicenceNumber</key>
	<string>HM9732</string>
	<key>PED</key>
	<string>2 October 2027</string>
	<key>LED</key>
	<string>2 October 2024</string>
</dict>
</plist>
