<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIN</key>
	<string>D023825829</string>
	<key>Address</key>
	<string>52 ANGAS CRES MARINO SA 5049</string>
	<key>Name</key>
	<string>ANDRE AVINASH SHENQI LIM</string>
	<key>DOB</key>
	<string>31/01/2006</string>
	<key>LicenceNumber</key>
	<string>HK9520</string>
	<key>PED</key>
	<string>6 February 2027</string>
	<key>LED</key>
	<string>6 February 2024</string>
	<key>name padding leading</key>
	<string>geometry.size.height * -0.14</string>
	<key>address padding leading</key>
	<string>geometry.size.height * -0.175</string>
	<key>expiration date padding leading</key>
	<string>geometry.size.width * -0.36</string>
</dict>
</plist>
